# Dependencies
/node_modules
/valcoin-admin/node_modules
/valcoin-store/server/node_modules
portal/node_modules

# Build artifacts and logs
*.log
*.aux
*.out
*.pdf
*.docx
feedback/client/build/
*.pyc
__pycache__/

# OS-specific files
._*
.DS_Store

# Data and credentials
/data/
.env.admin
credentials.txt
dados.alunos_rita.csv-autosaveods
/dados/

# Audio service cache, models, and large libraries
/audio_service/audio_cache/
/audio_service/libs/
/audio_service/vosk-model-pt/

# Generic cache/temp/binary files
*.zip
*.mp4
*.wav
*.webp
*.dump

# Piper data/models
/piper-data/

# User-specific temp files
user_instruction.txt
user_response.txt

# IDE/Editor folders
.vscode/